.page {
    height: 100%;
    width: 100%;

    // background-image: url('../assets/burger-image1.jpg');
    // background-size: cover;

    .bread-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin: 50px;

        .bread {
            grid-column: '1/2';
            grid-row: 1;
            text-align: center;
            align-items: center;

            .nav-link {
                color: orange;
                text-decoration: none;
            }
        }

        .image-container {
            grid-column: 2/2;
            grid-row: 1;
            justify-self: center;
        }
    }
}