
.para-0 {
    background-image: linear-gradient(135deg, var(--dark), var(--darker));
    height: 100%;
    width: 100%;
}

.para-bg-1 {
    background-image: linear-gradient(135deg, var(--orangeL), var(--orangeD));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
    }


.text-holder {
    margin: 20px;

    h3, h4, p {
        font-family: 'RedHands';
    }


}

.para-tomato {
    img {
        position: absolute;
        height: 140%;
        right: -680px;
        top: 1000px;
        transform: rotate(-70deg);
    }
}

// .para-salad {
//     img {
//         position: absolute;
//         height: 120%;
//         left: -500px;
//         top: 1000px;
//         transform: rotate(75deg);
//     }
// }

.para-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;


    .bread-container {
        display: flex;
        justify-content: center;
        
    }

    .bread {
        display: inline;
        // font-family: 'Helvetica neue';
        font-size: 110%;
        width: 50%;
        margin: 50px;

        .nav-link {
            // color: orange;
            text-decoration: none;
        }
    }
}

.para-2 {
    position: relative;
    top: 20%;
}