


.list-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: #f5f5f5;
    overflow: scroll

}

.list-main {
    // display: grid;
    // grid-template-columns: repeat(3, auto);
    // justify-content: center;
    padding: 20px;
    gap: 20px;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    // max-width: 800px;
    margin-top: 3rem;
}

.list-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
}

@media (max-width: 400px) {
    .list-grid {
        width: 100%;
        flex-direction: column;
    }
}