.nav-container {
    display: flex;
    flex-direction: row;
    background-color: var(--light);
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-family: 'RedHands';
    margin-right: 100px;



    img {
        width: 100px;
    }

    h2 {
        margin-left: 5px;
    }

    .nav-link {
        color: black;
        text-decoration: none;

        // &:nth-of-type(1) {
        //     margin-left: 400px;
        // }

        // &:nth-of-type(n + 2) {
        //     margin-left: 100px;
        // }
    }
}